
.components-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.5em;
    width: 100%;
}

.profile-image-container {
    border-radius: 5px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    margin: 1em;
    max-width: 45em;
}
.profile-image {

    height: 225px;
    width: 300px;
    background-position: center;
    margin: 0.5em;
}
.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
    max-width: 45em;
}

.profile-card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 0;
    padding: 0.5em;
    margin: 1em;
}


.social-media-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
}

.instagram-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}
.youtube-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}
.youtube-button-container {
    align-self: stretch;
}
.instagram-button-container {
    align-self: stretch;
}

.edit-fields {
    display: flex;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.youtube-edit-field {
}
.instagram-edit-field {
}
h3 {
    margin: 0;
    text-align: center;
}

input {
    background-color: lightgray;
    color: black;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    outline: none;
    min-height: 2em;
}

input:hover,
input:focus {
    border-color: grey;
    border-radius: 5px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.photo-button-container {
    margin-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 0.5em;
    padding-right: 0.5em;
    flex-wrap: wrap;
    overflow: hidden;
}

.info-text {
    text-align: center;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-size: smaller;
}


.accordion-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
    max-width: 45em;
}

.accordion-card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 0.5em;
    margin: 1em;
    max-width: 45em;
}

.delete-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
}

.delete-button-container {
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .components-container {
        width: 95%;
    }
    .profile-container,
    .profile-card,
    .social-media-container,
    .edit-fields,
    .accordion-container,
    .accordion-card,
    .delete-account-container,
    .profile-image-container {
        margin: 0;
        padding: 0;
    }
    .profile-card{
        margin-bottom: 1em;
        margin-top: 1em;
        margin-left:0;
        margin-right:0;
    }
}
@media screen and (min-width: 769px) {
    .components-container {
        width: 100%;
    }

    .profile-container,
    .profile-image-container,
    .profile-card,
    .social-media-container,
    .edit-fields,
    .accordion-container,
    .accordion-card,
    .delete-account-container {
    }

}