

.patternImage {
    width: 100%;
    max-width: 30em;
}


.instruction-text {
    white-space: pre-wrap;
}
.description-text {
    white-space: pre-wrap;
}

.edit-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

