.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.5em;
}

.tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 45em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.tabs button {
    flex: 1;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.accordion-content-container {
    width: 100%;
}

.tabs button:hover {
    background-color: lightgray;
    color: black;
}

.tabs button.active {
    background-color: white;
    color: black;
    font-weight: bold;
    border-bottom: none;
    z-index: 1;
    position: relative;
}

.tabContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45em;
    padding-bottom: 1em;

}

.activeTabContent {
    display: block;
    border-top: none;
    max-width: 45em;
    padding: 0.5em;
}

.saved-patterns-tab {
    width: 100%;
    background-color: blue;
}

.created-patterns-tab {
    width: 100%;
    background-color: yellow;
}

.edit-create-form {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    margin-top: 0.5em;

}

.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cancel-button {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 4em;
    font-size: 1em;
    background-color: grey;
    border: none;
    min-width: 18em;
    color: white;
    cursor: pointer;
}
.cancel-button-enabled {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 4em;
    font-size: 1em;
    background-color: grey;
    border: none;
    min-width: 18em;
    color: white;
    cursor: pointer;
}
.cancel-button-enabled:hover {
    border-color: grey;
    color: black;
    background-color: lightgrey;
}

.cancel-button-disabled {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 4em;
    font-size: 1em;
    background-color: lightgray;
    border: none;
    min-width: 18em;
    color: white;
    cursor: not-allowed;
}
.cancel-button-disabled:hover {
    border-color: lightgray;
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    .tabs, .tabContent{
        width: calc(100% - 5%);
    }
}

@media screen and (min-width: 769px) {
    .tabs, .tabContent{
        width: 100%;
    }
}